.to_general_style{
    width: 200px;
    flex: 1;
}

.to_general_style .dev{
}

#to_letters{
    font-weight: bold;
    width: 250px
}

.toImage{
    border-radius: 5%;
}

.to_data{
    color:#999;
}

.to_data_text{
    width: 250px;text-align: justify;
}